{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}


{{ block.super }}

<script src="{% static 'js/library/Chart.min.js' %}"></script>
<script src="{% static 'js/library/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>

{% endblock %}

{% block content %}


<!-- Render our chart -->
<div style="width: 100%;">
    <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
</div>


<script>



    var datos = {{ chart_data | safe}};
    var lista_colores = [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
    ];

    var barDatos = {
        labels: [],
        datasets: [{
            label: [],
            data: [],
            backgroundColor: [],
        }]
    }

    // Añade los datos a sus respectivas listas
    for (var i = 0; i < datos.length; i++) {
        var elemento = datos[i];
        barDatos.labels.push(elemento['username']);
        barDatos.datasets[0].backgroundColor.push(lista_colores[i]);
        barDatos.datasets[0].data.push(elemento['total_recetas']);
    }

    


    // Se añade más colores a la gráfica en caso de que haya más de 7 categorías
    if (datos.length > lista_colores.length){
        var total = datos.length - lista_colores.length;
        
        for (var i = 0; i < total.length; i++){
            do {
                var color = random_rgb();
            } while (contiene(lista_colores, color));
            
            lista_colores.push(color);
            
        }
    }

    
 
    
    // Configuración de la gráfica
    var config = {
        type: 'bar',
        data: barDatos,
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Top creadores de recetas'
            },
            legend: { display: false },
        }
    };


    window.onload = function () {
        var ctx = document.getElementById("myChart").getContext('2d');
        window.myPie = new Chart(ctx, config);
    }

</script>

{{ block.super }}
{% endblock %}
