{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
  <title>CookBook</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

</head>

<body>

  <div class="container-fluid contenido h-100">

    <!-- FORMULARIO -->

    <div class="row justify-content-center align-items-center h-100">
      <!--LOGIN -->
      <div class="col-12 col-sm-10 col-md-7 col-lg-4 col-xl-3 d-flex justify-content-center">
        <div class="form">

          <!-- LOGO -->
          <div class="row justify-content-center">
            <div class="col-8 col-sm-6">
              <img src="{% static 'img/logo.png' %}" class="img-fluid">
            </div>
          </div>

          <form class="login-form" method="POST" novalidate>
            {% csrf_token %}
            <!--<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                <input type="password" id="password" name="password" placeholder="Contraseña" required/>-->

            {{form.username}}
            {{form.password}}
            <button id="btn-acceder">Acceder</button>
            <!-- ERROR -->
            {% if form.errors %}
            <p class="my-1">Usuario o contraseña incorrecta. Vuelve a intentarlo.</p>
            {% endif %}

            <div class="registro my-1">
              <span>¿Aún no te has registrado?</span>
              <br>
              <a href="{% url 'registro' %}">Haz clic aquí para hacerlo.</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <script>
    $('#id_username').attr('placeholder', "Usuario");
    $('#id_password').attr('placeholder', "Constraseña");
  </script>

  <script src="{% static 'js/ajax.js' %}"></script>

</body>

</html>