{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/olvidar-pass.css' %}">
    <script src="{% static 'js/library/jquery-3.5.0.js' %}"></script>
    <title>Establecer contraseña · CookBook</title>

</head>

<body>

    <header>
        <div class="h-100 justify-content-center d-flex align-items-center py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <img id="logo" src="{% static 'img/logo-blanco.png' %}" alt="">
                </div>
                <div class="col-12 text-center"><span>CookBook</span></div>

            </div>
        </div>

    </header>

    <div class="container mt-3">
        {% if validlink %}
        <div class="row">
            <div class="col-12 text-center">
                <h1>Nueva contraseña</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form method="post" id="beauty-form">
                    {% csrf_token %}

                    <div class="row justify-content-center ">
                        <div class="col-10 col-sm-8 col-md-6 col-lg-4 form-group form-input">
                            {{form.new_password1}}
                            <label for="{{form.new_password1.auto_id}}" class="form-label">Nueva contraseña:</label>
                            {{form.new_password1.errors}}
                        </div>

                    </div>

                    <div class="row justify-content-center form-group form-input">
                        <div class="col-10 col-sm-8 col-md-6 col-lg-4 form-group form-input">
                            {{form.new_password2}}
                            <label for="{{form.new_password2.auto_id}}" class="form-label">Confirme contraseña:</label>
                            {{form.new_password2.errors}}
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-8 col-md-6 col-lg-4 form-group form-input">
                        <input type="submit" class="btn-border-rounded" value="Cambiar">
                    </div>
                    </div>





                </form>
            </div>
        </div>


        {% else %}

        <h1>ENCALE INVALIDO</h1>

        {% endif %}

    </div>

    <script src="{% static 'js/formulario.js' %}"></script>

</body>

</html>