{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña restablecida - CookBook</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Su contraseña se ha restablecido correctamente</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="{% url 'login' %}">Iniciar sesión</a>
            </div>
        </div>
    </div>
    
    
</body>
</html>