{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">

    <title>Página no encontrada · CookBook</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e273f4e482.js" crossorigin="anonymous"></script>

</head>

<body>

    <div id="root">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Página no encontrada</h3>
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>lo sentimos, pero la página solicitada no fue encontrada</h2>
            <h3><a href="{% url 'index' %}"><i class="fas fa-arrow-left"></i>Volver a CookBook</a></h3>

        </div>
    </div>

</body>

</html>
