{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>Buscar</title>
  <link rel="stylesheet" href="{% static 'css/busqueda_avanzada.css' %}" />
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

<h1>Buscar receta por ingredientes</h1>

<form method="post">
  {% csrf_token %}

  <fieldset>
    {{ formset.management_form }} {{ formset.non_form_errors }}
    
    {% for form in formset %}

    <!-- CAMPO DE TEXTO -->
    <div class="row form-row my-2 justify-content-center">
      <div class="col-12 col-sm-10 col-md-5 text-center">
        {{form.ingrediente}}<button
          type="button"
          name="button"
          class="btn-plus add-form-row" data-toggle="tooltip" data-placement="bottom" title="Añadir ingrediente">
          +
        </button>
      </div>
    </div>

    {% endfor %}

  </fieldset>

  <button type="submit" class="btn-border-rounded" name="button">Buscar</button>
</form>

<script src="{% static 'js/busqueda-avanzada.js' %}"></script>

{% endblock %}
