{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>Editar perfil</title>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

<!-- Modal eliminar-->
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="modal-eliminar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas eliminar tu cuenta?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Si eliminas tu cuenta de CookBook, no podrás recuperar el contenido ni la información que compartiste.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'eliminar_cuenta' %}"><button type="button" class="btn">Eliminar</button></a>
      </div>

    </div>
  </div>
</div>

{% include 'partes/menu-editar-perfil.html' %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- IMG AVATAR -->
  <div class="row ">

    

    <div class="col-md-5 col-sm-4 col-12 avatar">
      <img id="img-perfil" src="../../media/{{user.perfil.imagen_perfil}}" class="img-fluid rounded-circle"
        style="width: 30%">
    </div>

    <div class="col-md-4 col-sm-6 col-7 align-self-center">
      <div class="custom-file">
        {{form.imagen_perfil}}
        <label class="custom-file-label" for="{{form.imagen_perfil.auto_id}}">{{form.imagen_perfil.label}}</label>
      </div>
    </div>

    <div class="col-md-3 col-sm-2 col-4 align-self-center text-center ">
      <a href="{% url 'eliminar_foto' %}">
        <button type="button" class="btn-border-rounded">Eliminar foto</button>
      </a>
    </div>

  </div>

  <!-- NOMBRE -->
  <div class="row my-1">
    <div class="col-12 col-md-5 label text-right">
      {{form.nombre.label}}
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        {{form.nombre}}
      </div>
    </div>
  </div>

  <!-- APPELIDO -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      {{form.apellido.label}}
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        {{form.apellido}}
      </div>
    </div>
  </div>

  <!-- DESCRIPCION -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      {{form.descripcion.label}}
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        {{form.descripcion}}
      </div>
    </div>
  </div>


  <!-- BOTONES -->
  <div class="row justify-content-center">
    <div class="col- mr-1">
      <button type="submit" class="btn-border-rounded">Guardar</button>
    </div>
    <div class="col- ml-1">
      <a href="{% url 'perfil' username=user.username %}">
        <button type="button" class="btn-border-rounded">Volver</button>
      </a>
    </div>
  </div>
</form>

<div class="row justify-content-center my-3">
  <div class="col-12 text-center">
    <button type="button" class="btn-border-rounded" data-toggle="modal" data-target="#modal-eliminar">
      Eliminar cuenta
    </button>
    
  </div>
</div>

<script src="{% static 'js/formulario.js' %}"></script>


<script type="text/javascript">
  $('#{{form.imagen_perfil.auto_id}}').change(function() {
    readURL(this, $('#img-perfil'));
  });
</script>


{% endblock %}