{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>Editar perfil</title>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

{% include 'partes/menu-editar-perfil.html' %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- IMG AVATAR -->
  <div class="row ">

    <div class="col-md-5 col-sm-4 col-12 avatar">
      <img id="img-perfil" src="../../media/{{user.perfil.imagen_perfil}}" class="img-fluid rounded-circle"
        style="width: 30%">
    </div>

    <div class="col-md-4 col-sm-6 col-7 align-self-center">
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="imagen_perfil" id="id_input_avatar" accept="image/*">
        <label class="custom-file-label" for="id_input_avatar">Elegir imagen...</label>
      </div>
    </div>

    <div class="col-md-3 col-sm-2 col-4 align-self-center text-center ">
      <a href="{% url 'eliminar_foto' %}">
        <button type="button" class="btn-border-rounded">Eliminar foto</button>
      </a>
    </div>

  </div>

  <!-- NOMBRE -->
  <div class="row my-1">
    <div class="col-12 col-md-5 label text-right">
      Nombre
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        <input type="text" name="nombre" class="form-control" value="{{user.first_name}}" required>
      </div>
    </div>
  </div>

  <!-- APPELIDO -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      Apellido
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        <input type="text" class="form-control" name="apellido" value="{{user.last_name}}">
      </div>
    </div>
  </div>

  <!-- DESCRIPCION -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      Descripción
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        <textarea class="form-control" rows="3" name="descripcion">{{user.perfil.descripcion}}</textarea>
      </div>
    </div>
  </div>


  <!-- BOTONES -->
  <div class="row justify-content-center">
    <div class="col- mr-1">
      <button type="submit" class="btn-border-rounded">Guardar</button>
    </div>
    <div class="col- ml-1">
      <a href="{% url 'perfil' username=user.username %}">
        <button type="button" class="btn-border-rounded">Volver</button>
      </a>
    </div>
  </div>
</form>

<div class="row justify-content-center my-3">
  <div class="col-12 text-center">
    <a href="{% url 'eliminar_cuenta' %}">
      <button type="button" class="btn-border-rounded">Eliminar cuenta</button>
    </a>
  </div>
</div>


<script type="text/javascript">

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img-perfil').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0])
    }
  }

  $(document).on('change', '#id_input_avatar', function (e) {
    readURL(this);
  });
</script>


{% endblock %}