{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>Cambiar contraseña</title>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>


{% include 'partes/menu-editar-perfil.html' %}

<form>

  <!-- CONTRASEÑA ACTUAL -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      Contraseña actual
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        <input type="password" class="form-control">
      </div>
    </div>
  </div>

  <!-- CONTRASEÑA NUEVA -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      Contraseña nueva
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        <input type="password" id="password1" class="form-control">
      </div>
    </div>
  </div>

  <!-- CONFIRMAR CONTRASEÑA -->
  <div class="row">
    <div class="col-12 col-md-5 label text-right">
      Confirmar contraseña nueva
    </div>
    <div class="col-12 col-md-4 ml-md-2">
      <div class="form-group">
        <input type="password" id="password2" class="form-control">
      </div>
    </div>
  </div>

  <!-- BOTÓN -->
  <div class="row justify-content-center my-3">
    <div class="col- mr-1">
      <button type="submit" class="btn-border-rounded">Guardar</button>
    </div>
  </div>
</form>


<script>
  $('input[type=password]').keyup(function () {
    var pass1 = $('#password1');
    var pass2 = $('#password2')

    if (pass1.val() == pass2.val() && pass1.val().length >= 8) {
      pass1.css('background-color', '#0080008a');
      pass2.css('background-color', '#0080008a');
    } else {
      pass1.css('background-color', '#ff00005e');
      pass2.css('background-color', '#ff00005e');
    }
  });
</script>

{% endblock %}