{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>Cambiar contraseña · CookBook</title>
  <script src="{% static 'js/library/jquery-3.3.1.min.js' %}"></script>
</head>


<div class="row pt-3">

  {% include 'partes/menu-editar-perfil.html' %}

  <div class="col-12 col-md-8 col-lg-9">


      

      <form method="POST">
          {% csrf_token %}

          <!-- CONTRASEÑA ACTUAL -->
          <div class="row">
              <div class="col-12 col-md-5 label text-right">
                  {{form.old_password.label}}
              </div>
              <div class="col-12 col-md-4 ml-md-2">
                  <div class="form-group">
                      {{form.old_password}}
                  </div>
              </div>
          </div>

          <!-- CONTRASEÑA NUEVA -->
          <div class="row">
              <div class="col-12 col-md-5 label text-right">
                  {{form.new_password1.label}}
              </div>
              <div class="col-12 col-md-4 ml-md-2">
                  <div class="form-group">
                      {{form.new_password1}}
                  </div>
              </div>
          </div>

          <!-- CONFIRMAR CONTRASEÑA -->
          <div class="row">
              <div class="col-12 col-md-5 label text-right">
                  {{form.new_password2.label}}
              </div>
              <div class="col-12 col-md-4 ml-md-2">
                  <div class="form-group">
                      {{form.new_password2}}
                  </div>
              </div>
          </div>

          <!-- MENSAJE DE ERROR -->
          <div class="row">
              <div class="col-12 text-center">
                  {% if form.errors %}
                  {% for field in form %}
                  {% for error in field.errors %}
                  {{error|linebreaks}}
                  {% endfor %}
                  {% endfor %}
                  {% endif %}
              </div>
          </div>

          <!-- BOTÓN -->
          <div class="row justify-content-center my-3">
              <div class="col- mr-1">
                  <button type="submit" class="btn-border-rounded">Guardar</button>
              </div>
          </div>
      </form>
  

</div>


<script>
  /**
   * Cuando se escribe en un campo password comprueba si es válido o no
  */
  $('input[type=password]').keyup(function () {
    var pass1 = $('#id_new_password1');
    var pass2 = $('#id_new_password2')

    if (pass1.val() == pass2.val() && pass1.val().length >= 8 && isNaN(pass1.val())) {
      pass1.css('background-color', '#0080008a');
      pass2.css('background-color', '#0080008a');
    } else {
      pass1.css('background-color', '#ff00005e');
      pass2.css('background-color', '#ff00005e');
    }
  });
</script>

{% endblock %}