{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block content %}

<head>
    <title>Notificaciones · CookBook</title>
</head>

{% for notificacion in notificaciones %}
<div class="row px-2 my-1">
    <div class="col-3 col-md-2 col-lg-1">
        <a href="{% url 'perfil' username=notificacion.usuario_origen.username %}"><img src="{{notificacion.usuario_origen.perfil.imagen_perfil.url}}" alt="" class="img-fluid rounded-circle"></a>
    </div>

    <div class="col-9 col-md-10 col-lg-11 align-self-center">

        {% if notificacion.tipo == "siguiendo" %}
        <a href="{% url 'perfil' username=notificacion.usuario_origen.username %}"><span
                style="font-weight: bold;">{{notificacion.usuario_origen}}</span> te ha seguido.
            <br><span class="fecha">{{notificacion.fecha|fecha_hasta_hoy}}</span>
        </a>
        {% else %}

        <a href="{% url 'perfil' username=notificacion.usuario_origen.username %}"
            style="font-weight: bold;">{{notificacion.usuario_origen}}</a>

        
        <a href="{% url 'receta' pk=notificacion.receta.pk %}">
            {% if notificacion.tipo == "comentario" %}
            <!-- Muestra el nombre de la receta y el texto como máximo 50 caracteres-->
            ha comentado tu receta "{{notificacion.receta}}":
            "{{notificacion.comentario.texto|slice:":50"}}{% if notificacion.comentario.texto|length > 50 %}...{% endif %}".
            <br><span class="fecha">hace {{notificacion.fecha|fecha_hasta_hoy}}</span>
            {% elif notificacion.tipo == "respuesta" %}
            ha respondido tu comentario de "{{notificacion.receta}}":
            "{{notificacion.comentario.texto|slice:":50"}}{% if notificacion.comentario.texto|length > 50 %}...{% endif %}".
            <br><span class="fecha">{{notificacion.fecha|fecha_hasta_hoy}}</span>
            {% elif notificacion.tipo == "valoracion" %}
            ha valorado tu receta "{{notificacion.receta}}".
            <br><span class="fecha">{{notificacion.fecha|fecha_hasta_hoy}}</span>
            {% endif %}
        </a>

        {% endif %}


    </div>
</div>

{% empty %}
<div class="row justify-content-center">
    <h2>Aún no tienes notificaciones</h2>
</div>

{% endfor %}

{% endblock %}