{% extends 'base.html' %}

{% load static %}

{% block content %}


<head>
  <title>Nueva receta</title>
  <link rel="stylesheet" href="{% static 'css/nueva-receta.css' %}">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

</head>


<div class="row justify-content-center my-1">
  <h3>Nueva receta</h3>
</div>

<!-- BOTÓN SUGERENCIA -->
<button type="button" class="btn-sugerencia" data-toggle="modal" data-target="#sugerenciaModal">
  <i class="fas fa-question"></i>
</button>

<!-- MODAL SUGERENCIA -->
<div class="modal fade" id="sugerenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enviar sugerencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="mb-2">{{formSugerencia.info}}</div>

        <div class="form-group">
          {{formSugerencia.tipo}}
        </div>
        <div class="form-group">
          <div class="form-group form-input">
            {{formSugerencia.sugerencia}}
            <label for="{{formSugerencia.sugerencia.auto_id}}"
              class="form-label">{{formSugerencia.sugerencia.label}}</label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" id="submit-sugerencia" class="btn btn-primary"
          data-url="{% url 'sugerencia' %}">Enviar</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" id="beauty-form" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- TITULO -->
  <div class="row justify-content-center my-md-3">
    <div class="col-md-7 col-12">
      <div class="form-group form-input">
        {{formReceta.titulo}}
        <label for="{{formReceta.titulo.auto_id}}" class="form-label">{{formReceta.titulo.label}}</label>
      </div>
    </div>
  </div>

  <!-- FILA CANTIDAD Y TIEMPO -->
  <div class="row justify-content-center my-md-3">
    <div class="col-md-4 col-12 mr-1">
      <div class="form-group form-input">
        {{formReceta.raciones}}
        <label for="{{formReceta.raciones.auto_id}}" class="form-label">{{formReceta.raciones.label}}</label>
      </div>
    </div>

    <div class="col-md-4 col-12 ml-md-1">
      <div class="form-group form-input">
        {{formReceta.tiempo_estimado}}
        <label for="{{formReceta.tiempo_estimado.auto_id}}"
          class="form-label">{{formReceta.tiempo_estimado.label}}</label>
      </div>
    </div>

  </div>

  <!-- FILA FOTO -->
  <div class="row my-3 px-2 px-md-0">
    <div class="col-12 text-center">
      <label for="{{formReceta.imagen_terminada.auto_id}}" class="subir-foto">
        <i class="fa fa-cloud-upload"></i> {{formReceta.imagen_terminada.label}}
      </label>
      {{formReceta.imagen_terminada}}

    </div>
  </div>
  <div class="row my-3">
    <div class="col-12 text-center">
      <img src="#" id="previa_imagen_terminada" alt="" class="img-fluid">
    </div>
  </div>

  <!--FILA CATEGORIA -->
  <div class="row justify-content-center mb-3">
    <div class="col-12 col-md-4">
      {{formReceta.categoria}}
    </div>
  </div>

  <!-- INGREDIENTES -->
  <h2>Ingredientes</h2>

  <div id="totalIngredientes" class="my-2">
    {{ formsetIngrediente.management_form }}

    {% for form_data in formsetIngrediente %}

    {{form_data.id}}
    <div id="ingrediente0" class="ingrediente py-3">

      <div class="row">
        <div class="col-12 d-flex justify-content-end justify-content-md-start">
          <button type="button" class="btn-remove remove-form-row-ingrediente">-</button>
        </div>
      </div>


      <div class="row justify-content-between d-flex align-items-center">
        <!-- FLECHAS MOVER -->
        <div class="col-1">
          <div class="moveup row justify-content-center mb-1" data-parent="ingrediente"><i
              class="fas fa-chevron-up"></i></div>
          <div class="movedown row justify-content-center mt-1" data-parent="ingrediente"><i
              class="fas fa-chevron-down"></i></div>
        </div>

        <!-- FORMULARIO -->
        <div class="col-11">
          <div class="row">
            <!-- NOMBRE INGREDIENTE -->
            <div class="col-12 col-md-4">
              <div class="form-group form-input">
                {{form_data.ingrediente}}
                <label for="{{form_data.ingrediente.auto_id}}"
                  class="form-label">{{form_data.ingrediente.label}}</label>
              </div>
            </div>

            <!-- CANTIDAD -->
            <div class="col-12 col-md-4">
              <div class="form-group form-input">
                {{form_data.cantidad}}
                <label for="{{form_data.cantidad.auto_id}}" class="form-label">{{form_data.cantidad.label}}</label>
              </div>
            </div>

            <!-- UNIDAD DE MEDIDA -->
            <div class="col-12 col-md-4">
              {{form_data.unidad_medida}}
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- BOTÓN AÑADIR INGREDIENTE -->
  <div class="row justify-content-center my-3">
    <div class="col-">
      <button type="button" id="buttonAddIngredient" class="btn-sin-borde">+ Añadir ingrediente</button>
    </div>
  </div>

  <!-- PASOS -->
  <h2>Pasos</h2>

  {% if formsetPaso.non_form_errors %}
  <div class="alert alertdanger">{{formsetPaso.non_form_errors}}</div>
  {% endif %}

  <div id="totalPasos">
    {{ formsetPaso.management_form }}

    {% for form_data in formsetPaso %}
    {{form_data.id}}
    <div id="paso0" class="paso py-3">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button type="button" class="btn-remove remove-form-row-paso">-</button>
        </div>
      </div>

      <div class="row d-flex justify-content-start d-flex align-items-stretch">

        <div class="col-1 align-items-center" style="display: flex;">
          <div>
            <div class="row mt-1 justify-content-center"><span class="badge badge-pill badge-dark numPaso">1</span>
            </div>
            <div class="moveup row mt-3 justify-content-center mb-1" data-parent="paso"><i
                class="fas fa-chevron-up"></i></div>
            <div class="movedown row justify-content-center mt-1" data-parent="paso"><i class="fas fa-chevron-down"></i>
            </div>
          </div>
        </div>

        <div class="col-10 col-md-7 my-1">
          <div class="form-group form-input">
            {{form_data.texto}}
            <label for="{{form_data.texto.auto_id}}" class="form-label">{{form_data.texto.label}}</label>
          </div>
        </div>

        <div class="col-md-4 col-12 align-self-center text-center">

          <label for="{{form_data.imagen_paso.auto_id}}" class="subir-foto">
            <i class="fa fa-cloud-upload"></i> {{form_data.imagen_paso.label}}
          </label>
          {{form_data.imagen_paso}}

        </div>

      </div>
      <div class="row justify-content-center my-2 mx-2">
        <img src="#" id="" alt="" class="img-fluid img-paso">
      </div>

    </div>



    {% endfor %}
  </div>

  <!-- BOTÓN AÑADIR PASO-->
  <div class="row d-flex justify-content-center my-3">
    <div class="col-">
      <button type="button" id="buttonAddPaso" class="btn-sin-borde" onclick="cloneMorePaso('.paso:last', 'paso')">+
        Añadir paso</button>
    </div>
  </div>



  <!-- FINAL BOTONES -->
  <div class="row my-3 justify-content-sm-around justify-content-md-center">
    <div class="col-4 col-md-3 text-center">
      <button type="submit" class="btn-sin-borde">Guardar</button>
    </div>

    <div class="col-4 col-md-3 text-center">
      <button type="submit" class="btn-sin-borde" name="publico">Publicar</button>
    </div>

    {% if formReceta.instance.pk is None %}
      <div class="col-4 col-md-3 text-center">
        <a href="{% url 'perfil' username=user.username %}"><button type="button"
            class="btn-sin-borde">Cancelar</button></a>
      </div>
    {% else %}
      <div class="col-4 col-md-3 text-center">
        <a href="{% url 'receta' pk=formReceta.instance.pk %}"><button class="btn-sin-borde">Cancelar</button></a>
      </div>
    {% endif %}


  </div>

</form>


<script src="{% static 'js/formset-receta.js' %}"></script>
<script src="{% static 'js/formulario.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>


<script>

  // Hace que el campo cantidad en ingrediente no se pueda introducir letras
  $("input[id$='-cantidad'").keypress(function (event) {
    if ((event.which > 47 && event.which < 58) || (event.which == 46 || event.which == 8)) {
      // Los núneros son en el código ascii del 47 al 58, el 46 es el punto y 8 borrar
    } else {
      event.preventDefault();
    }
  }).on('paste', function (event) { // No permite pegar en el campo
    event.preventDefault();
  })


  //Muestra la imagen de la receta
  $('#id_imagen_terminada').change(function () {
    readURL(this, $('#previa_imagen_terminada'));
  });

  //Muestra la imagen de los pasos
  $('.paso input[type=file]').change(function () {
    var img = $(this).parents('.paso').find('img');
    readURL(this, img);
  });

  $('.moveup, .movedown').click(function (e) {

    // "padre" obtiene un string "ingrediente" o "pasos" según sea
    var padre = e.currentTarget.dataset.parent;
    // Obtiene el total de pasos o ingredientes de la receta
    var totalInputs = $('#id_' + padre + '-TOTAL_FORMS').val();

    if (totalInputs > 1) { // Comprueba que no haya solo un dato
      var opcionMovimiento = e.currentTarget.classList[0];
      var objeto = $(this).parents('.' + padre);

      if (opcionMovimiento === "moveup") { // En caso de subir
        //Comprobar si es el primero
        var primero = $(this).parents('.' + padre).parent().children("." + padre).first();
        if (objeto.html() !== primero.html()) {
          objeto.insertBefore(objeto.prev()); //Inserta el paso/ingrediente encima del anterior
        }
      } else if (opcionMovimiento === "movedown") { // En caso de bajar
        //Comprobar si es el último
        var ultimo = $(this).parents('.' + padre).parent().children("." + padre).last();
        if (objeto.html() !== ultimo.html()) {
          objeto.insertAfter(objeto.next());  //Inserta el paso/ingrediente despues del posterior
        }
      }

      // Actualiza la lista de pasos o ingredientes
      if (padre === "paso")
        updateElementIndexPaso();
      else
        updateElementIndexIngrediente();
    }


  });



  $(document).on('click', '.remove-form-row-paso', function (e) {
    deleteFormPaso('paso', $(this));
  });



</script>
{% endblock %}