{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>{{usuario.get_full_name}} · CookBook</title>
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
  <script src="{% static 'js/library/jquery-3.3.1.min.js' %}"></script>
</head>

<!-- DATOS PERFIL -->
{% include 'partes/info-perfil.html' %}

<!-- MENU -->
{% if user == usuario %}
  {% include 'partes/menu-perfil-self.html' %}
{% else %}
  {% include 'partes/menu-perfil.html' %}
{% endif %}

<div class="row separador"></div>

<!-- Receta lista -->

{% if lista_es_receta %}
  {% include 'partes/lista-recetas2.html' %}
{% else %}
  {% include 'partes/lista-usuarios.html' %}
{% endif %}
  


{% endblock %}