{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <title>{{usuario.get_full_name}} · CookBook</title>
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
  <script src="{% static 'js/library/jquery-3.3.1.min.js' %}"></script>
</head>

<!-- DATOS PERFIL -->
{% include 'partes/info-perfil.html' %}

<!-- MENU -->
{% if user == usuario %}
  {% include 'partes/menu-perfil-self.html' %}
{% else %}
  {% include 'partes/menu-perfil.html' %}
{% endif %}

<div class="row separador"></div>

<!-- Receta lista -->

{% if lista_es_receta %}
  {% include 'partes/lista-recetas.html' %}
{% else %}
  {% include 'partes/lista-usuarios.html' %}
{% endif %}

<script type="text/javascript">

  // Variables que se utilizan en ajax, pero hay que obtenerlos desde aquí
  var usuario_perfil = "{{usuario}}";
  var request_user = "{{user}}";

  var tipo_lista = "{{tipo_lista}}";
  
  switch (tipo_lista){
    case 'guardadas':
      $('#text-guardadas').css('font-weight', '600');
      break;
    case 'seguidores':
      $('#text-seguidores').css('font-weight', '600');
      break;
    case 'siguiendo':
      $('#text-siguiendo').css('font-weight', '600');
      break;
    default:
    $('#text-recetas').css('font-weight', '600');
  }
  
</script>
  


{% endblock %}