{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block content %}

<head>
  <title>Receta</title>
  <link rel="stylesheet" href="{% static 'css/receta.css' %}">
  <script src="{% static 'js/library/jquery-3.3.1.min.js' %}"></script>
</head>

<!-- Modal eliminar-->
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="modal-eliminar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas eliminar la receta?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'eliminar_receta' pk=receta.pk %}"><button type="button" class="btn">Eliminar</button></a>
      </div>

    </div>
  </div>
</div>

<!-- Modal valorar-->
<div class="modal fade" id="modal-valorar" tabindex="-1" role="dialog" aria-labelledby="modal-valorar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ya has valorado la receta. ¿La deseas modificar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn" id="modal-submit" data-recetaid="{{receta.pk}}"
          data-url="{% url 'valorar_seguro' %}">Valorar</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal imagen preview -->
<div class="modal fade" id="modal-img-preview" tabindex="-1" role="dialog" aria-labelledby="modal-img-preview"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" id="img-preview" class="d-block w-100">
      </div>
    </div>
  </div>
</div>

<!-- Imagen grande-->

<div id="dialog" class="window">
  <img id="imgBig" class="img-fluid" />
</div>
<div id="mask"></div>

<!-- HEAD -->
<div class="row justify-content-between my-4">

  <!-- Título -->
  <div class="col-7 col-md-9 ">
    <h2 class="">
      {{ receta.titulo }}
      {% if receta.usuario == user %}
      {% if receta.publico %}
      <i class="fas fa-lock-open" style="color: #888"></i>
      {% else %}
      <i class="fas fa-lock" style="color: #888"></i>
      {% endif %}
      {% endif %}
    </h2>
  </div>

  <!-- Menu ajustes-->
  {% if receta.usuario == request.user %}
  <div class="col-3 col-md-2 text-right">

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownAjustes" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="fas fa-cog" style="font-size:36px"></i></button>

      <div class="dropdown-menu" aria-labelledby="dropdownAjustes">

        <!-- PUBLICAR -->
        <a href="{% url 'publicar' pk=receta.pk%}">
          {% if receta.publico %}
          <i class="fas fa-lock-open" style='font-size:1rem'></i> Público
          {% else %}
          <i class="fas fa-lock" style='font-size:1rem'></i> Privado
          {% endif %}
        </a>

        <br>

        <!-- EDITAR -->
        <a href="{% url 'editar_receta' pk=receta.pk %}">
          <i class="fas fa-edit" style='font-size:1rem'></i> Editar
        </a>

        <br>

        <!-- ELIMINAR -->
        <a href="#modal-eliminar" data-toggle="modal" data-target="#modal-eliminar">
          <i class="fas fa-trash" style='font-size:1rem'></i> Eliminar
        </a>

      </div>
    </div>
  </div>
  {% endif %}

  <!-- Botón guardar -->
  <a href="#" id="{{receta.pk}}" class="btn-guardar btn col-2 col-md-1" data-url="{% url 'guardar' %}">
    {% if  receta|is_save:user %}
    <i class='fas fa-bookmark' style='font-size:36px'></i>
    {% else %}
    <i class='far fa-bookmark' style='font-size:36px'></i>
    {% endif %}
  </a>

</div>

<!-- IMG -->
<div class="row my-3">
  <div class="col-12 text-center">
    <img src="{{receta.imagen_terminada.url}}" class="img-fluid img-receta">
  </div>
</div>

<!-- SUB IMAGE -->
<div class="row justify-content-between">
  <div class="col-5">
    {% if not receta.tiempo_estimado is None %}
    <i class="far fa-clock"></i> {{receta.tiempo_estimado}}
    {% endif %}
  </div>

  <div class="col-6 text-right">
    Realizado por <a href="{% url 'perfil' username=receta.usuario.username %}">{{receta.usuario.username}}</a>
  </div>
</div>

<!-- INGREDIENTES -->
<div id="ingredientes" class="my-4">

  <div class="row">
    <div class="col-12">
      <h2>Ingredientes</h2>
    </div>

    <div class="align-self-center ml-3">
      {% if not receta.raciones is None %}
      Para <input id="cantidad" type="number" value="{{receta.raciones}}"
        style="width: 30px; -moz-appearance: textfield; -webkit-appearance: textfield;" autocomplete="off"> raciones
      {% endif %}

    </div>
  </div>

  <div class="row" id="lista-ingredientes">
    <ul>
      {% for ingrediente in receta.ingredientes.all %}
      <lu data-ingrediente="{{ingrediente.pk}}">
        <b>{{ingrediente.cantidad}}</b> <b>{{ingrediente.unidad_medida.nombre}}</b> de
        {{ingrediente.ingrediente.nombre}}
        <br>
      </lu>
      {% endfor %}
    </ul>
  </div>

</div>

<!-- PASOS -->
<div id="pasos" class="my-4">

  <div class="row">
    <div class="col-12">
      <h2>Pasos</h2>
    </div>
  </div>
  <div class="row pr-3">
    <ul>
      {% for paso in receta.pasos.all %}
      <lu>
        <p>{{paso.posicion}}. {{paso.texto}}</p>
        {% if not paso.imagen_paso == "" %}
        <img src="{{paso.imagen_paso.url}}">
        {% endif %}
      </lu>
      {% endfor %}
    </ul>
  </div>


</div>

<div class="row separador"></div>

<!-- VALORACION -->
<div id="valoracion">
  <div class="row">
    <div class="col-12 text-center">
      <span id="valoracion_media">
        {% if not receta.valoracion_media %}
        <!-- si no tiene valoraciones -->
        {% if user != receta.usuario %}
        <!-- si no es el mismo usuario que ha creado la receta-->
        Sé el primero en valorar
        {% else %}
        Aún no tiene valoraciones
        {% endif %}
        {% else %}
        {{receta.valoracion_media}}</span>
      {% endif %}
      </span>
    </div>
  </div>

  <!-- ESTRELLAS -->
  <div class="row justify-content-between my-2">
    <div class="col-12 text-center">
      <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
        <input type="radio" id="star5" name="valoracion" value="5" /><label class="fa fa-star" for="star5"></label>
        <input type="radio" id="star4" name="valoracion" value="4" /><label class="fa fa-star" for="star4"></label>
        <input type="radio" id="star3" name="valoracion" value="3" /><label class="fa fa-star" for="star3"></label>
        <input type="radio" id="star2" name="valoracion" value="2" /><label class="fa fa-star" for="star2"></label>
        <input type="radio" id="star1" name="valoracion" value="1" required /><label class="fa fa-star"
          for="star1"></label>
      </div>
    </div>
  </div>


  <!-- BOTÓN VALORAR -->
  {% if receta.usuario != user %}
  <div class="row justify-content-center my-3">
    <div class="col-12 text-center">
      <input type="submit" class="btn-border-rounded btn-valorar" value="Valorar" data-recetaid="{{receta.pk}}"
        data-url="{% url 'valorar' %}">
    </div>
  </div>
  {% endif %}


</div>

<!-- ADD COMENTARIO -->
<div id="addComentario my-5">
  <div class="row mb-3">
    <h2>Comentarios</h2>
  </div>

  <form method="POST">
    {% csrf_token %}

    <div class="row">
      <div class="col-12">
        {{comentarioForm.texto}}
      </div>


    </div>
    <div class="row">
      <div class="col-12 text-right my-2">
        <input type="submit" class="btn-border-rounded" name="comentario" value="Comentar"></input>
      </div>
    </div>
  </form>

</div>



<!-- LISTA COMENTARIOS -->
<div id="listaComentarios" class="my-3">
  {% for comentario in receta.comentarios.all %}
  {% if comentario.comentario_respuesta is None %}
  <div class="card my-2">
    <div class="card-body" id="comentario-{{comentario.pk}}">
      {% include 'partes/comentario.html' %}

      <!-- RESPUESTAS -->
      {% for respuesta in comentario.respuestas.all %}
      <div class="card card-inner my-3" id="comentario-{{respuesta.pk}}">
        <div class="card-body">
          {% include 'partes/comentario-respuesta.html' %}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  {% endif %}

  {% empty %}
  <p>Aún no tiene comentarios. Sé el primero.</p>
  {% endfor %}
</div>



<script>

  $(document).ready(function () {
    var defaultRaciones = {{ receta.raciones }
  };
  var ingredientes = $('#lista-ingredientes').children();
  var cantidadesIngredientes = [];
  ingredientes.children().each(function () {
    var oldCantidad = this.childNodes[1].textContent.replace(',', '.');
    cantidadesIngredientes.push(oldCantidad)
  });
  console.log(cantidadesIngredientes);


  // Hace que el campo cantidad en ingrediente no se pueda introducir letras
  if (default != None) {
    $("#cantidad").keyup(function (event) {


      if (event.which >= 48 && event.which <= 57 || event.which == 229 || event.which >= 96 && event.which <= 105 || event.which == 8) {

        var newRaciones = $('#cantidad').val();

        ingredientes.children().each(function (i) {
          //var oldCantidad = this.childNodes[1].textContent.replace(',','.');
          // Comprobar si es fracción
          //oldCantidad = Number(oldCantidad);
          //console.log(cantidadesIngredientes[i] + ' x ' + newRaciones + ' / ' + defaultRaciones);
          var newCantidad = cantidadesIngredientes[i] * newRaciones / defaultRaciones;
          this.firstElementChild.textContent = Math.round(newCantidad * 1000) / 1000;
        });

      }
    }).on('paste', function (event) {
      event.preventDefault();
    });
  }


  $('.form-respuesta').hide();

  $('.btn-responder').click(function () {
    var elemento = $(this).parent().children('div.form-respuesta');
    elemento.slideToggle('slow');
  });

  $('#pasos img').click(function () {

    if ($(window).width() >= 992) {
      var src = $(this).attr('src');
      $('#img-preview').attr('src', src);
      $('#modal-img-preview').modal('show');
    }

  });
   
   
  });

</script>

<script src="{% static 'js/ajax.js' %}"></script>

{% endblock %}