{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Receta</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/receta.css' %}">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Modal -->
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="modal-eliminar" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas eliminar la receta?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'eliminar_receta' pk=receta.pk %}"><button type="button" class="btn">Eliminar</button></a>
      </div>
    </div>
  </div>
</div>



  {% include 'partes/navbar.html' %}

  <div class="container px-5" style="margin-top: 6rem">



    <!-- HEAD -->
    <div class="row justify-content-between my-4">
      <div class="col-8">
        <h2>{{ receta.titulo }}</h2>
      </div>

      <!-- Botón guardar -->
      <form method="get" class="col-3 text-right">
        <button class="btn-guardar" type="submit" name="guardar">
          {% if user in receta.usuarios_guardado.all %}
            <i class='fas fa-bookmark' style='font-size:36px'></i>
          {% else %}
            <i class='far fa-bookmark' style='font-size:36px'></i>
          {% endif %}
        </button>
      </form>


      <!-- Menu ajustes-->
      {% if receta.usuario == request.user %}
      <div class="col-1">
        
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownAjustes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          
          <div class="dropdown-menu" aria-labelledby="dropdownAjustes">
            
            <a href="{% url 'publicar' pk=receta.pk%}">
              {% if receta.publico %}
                <i class="fas fa-lock-open" style='font-size:1rem'></i> Público
              {% else %}
                <i class="fas fa-lock" style='font-size:1rem'></i> Privado
              {% endif %}
            </a>
            
            <br>
            
            <a href="{% url 'editar_receta' pk=receta.pk %}">
              <i class="fas fa-edit" style='font-size:1rem'></i> Editar
            </a>

            <br>

            <a href="{% url 'eliminar_receta' pk=receta.pk %}">
              <i class="fas fa-trash" style='font-size:1rem'></i>  Eliminar
            </a>
            
          </div>

        </div>

      </div>
      {% endif %}
        
    </div>

    <!-- IMG -->
    <div class="row my-3">
      <div class="col-12 text-center">
        <img src="../../media/{{receta.imagen_terminada}}" class="img-fluid">
      </div>
    </div>

    <!-- SUB IMAGE -->
    <div class="row justify-content-between">
      <div class="col-5">
        {{receta.tiempo_estimado|is_none}}
      </div>

      <div class="col-6 text-right">
        Realizado por <a href="{% url 'perfil' username=receta.usuario.username %}">{{receta.usuario.username}}</a>
      </div>
    </div>

    <!-- INGREDIENTES -->
    <div id="ingredientes" class="my-4">

      <div class="row">
        <h2>Ingredientes</h2>
        <div class="align-self-center ml-3">
          {% if not receta.raciones is None %}
          Para {{receta.raciones}} raciones
          {% endif %}
        </div>
        
      </div>
      <div class="row">
        <ul>
          {% for ingrediente in receta.ingredientes.all %}
          <lu>
            <b>{{ingrediente.cantidad}} {{ingrediente.unidad_medida.nombre}}</b> de {{ingrediente.ingrediente.nombre}}
            <br>
          </lu>
          {% endfor %}
        </ul>
      </div>

    </div>

    <!-- PASOS -->
    <div id="pasos" class="my-4">

      <div class="row">
        <h2>Pasos</h2>
      </div>
      <div class="row">
        <ul>
          {% for paso in receta.pasos.all %}
          <lu>
            <p>{{paso.posicion}}. {{paso.texto}}</p>
            {% if not paso.imagen_paso == "" %}
            <img src="../../media/{{paso.imagen_paso}}" style="width: 25%; margin-left: 10%;">
            {% endif %}
          </lu>
          {% endfor %}
        </ul>
      </div>


    </div>






    <div class="row separador"></div>

    <!-- VALORACION -->
    <div id="valoracion">
      <div class="row">
        <div class="col-12 text-center">
          {% if not valoracion_media %}
            {% if user != receta.usuario %}
              <span>Sé el primero en valorar</span>
            {% else %}
              <span>Aún no tiene valoraciones</span>
            {% endif %}
          {% else %}
          <span>{{valoracion_media}}</span>
          {% endif %}
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="row justify-content-between my-2">
          <div class="col-12 text-center">
            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                <input type="radio" id="star5" name="valoracion" value="5" /><label class="fa fa-star" for="star5" title="5 star"></label>
                <input type="radio" id="star4" name="valoracion" value="4" /><label class="fa fa-star" for="star4" title="4 star"></label>
                <input type="radio" id="star3" name="valoracion" value="3" /><label class="fa fa-star" for="star3" title="3 star"></label>
                <input type="radio" id="star2" name="valoracion" value="2" /><label class="fa fa-star" for="star2" title="2 star"></label>
                <input type="radio" id="star1" name="valoracion" value="1" required/><label class="fa fa-star" for="star1" title="1 star"></label>
            </div>
          </div>
        </div>


        {% if receta.usuario != user %}
        <div class="row justify-content-center my-3">
          <div class="col-12 text-center">
            <input type="submit" class="btn-border-rounded btn-valorar" value="Valorar">
          </div>
        </div>
        {% endif %}
      </form>

    </div>

    <!-- ADD COMENTARIO -->
    <div id="addComentario my-5">
      <div class="row mb-3">
        <h2>Comentarios</h2>
      </div>

      <form method="POST">
        {% csrf_token %}

        <div class="row">
          <div class="col-12">
            <textarea name="texto" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe un comentario..." required></textarea>
          </div>

        </div>
        <div class="row">
          <div class="col-12 text-right my-2">
            <input type="submit" class="btn-border-rounded" name="comentario" value="Comentar"></input>
          </div>
        </div>
      </form>

    </div>



    <!-- LISTA COMENTARIOS -->
    <div id="listaComentarios" class="my-3">
      {% for comentario in receta.comentarios.all %}
      {% if comentario.comentario_respuesta is None %}
      <div class="card my-2">
        <div class="card-body" id="{{comentario.pk}}">
          <div class="row">
            <div class="col-2" >
              <img src="../../media/{{comentario.usuario.perfil.imagen_perfil}}" class="img rounded-circle img-fluid"/>
          	  <p class="text-secondary text-center">{{comentario.fecha_format}}</p>
            </div>

            <div class="col-10">
              <a href="#">{{comentario.usuario}}</a>
              <p>{{comentario.texto}}</p>

                <button type="button" class="float-right btn-border-rounded btn-responder">
                  <i class="fa fa-reply"></i> Responder
                </button>





              <div class="row w-100 form-respuesta" style="margin-top: 5rem" >
                    <form class="col-12" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="comentario" value="{{comentario.pk}}">
                      <input type="text" class="txt-respuesta col-11" name="respuesta" placeholder="Respuesta" required/>
                      <button type="submit">
                        <i class="fas fa-chevron-right"></i>
                      </button>
                    </form>
              </div>
          </div>
          </div>





          <!-- RESPUESTAS -->
          {% for respuesta in comentario.respuestas.all %}
          <div class="card card-inner my-1" id="comentarioRespuesta">
            <div class="card-body">
              <div class="row">

                <div class="col-2">
                  <img src="../../media/{{respuesta.usuario.perfil.imagen_perfil}}" class="img rounded-circle img-fluid"/>
              	  <p class="text-secondary text-center">{{respuesta.fecha_format}}</p>
                </div>

                <div class="col-10">
                  <a href="#">{{respuesta.usuario.username}}</a>
                  <p>{{respuesta.texto}}</p>
                  <button type="button" class="float-right btn-coment btn-responder">
                    <i class="fa fa-reply"></i> Responder
                  </button>

                  <div class="row w-100 form-respuesta" style="margin-top: 5rem" hidden>
                        <form class="col-12" method="post">
                          {% csrf_token %}
                            <input type="hidden" name="comentario" value="{{comentario.pk}}">
                            <input type="text" class="txt-respuesta col-11" name="respuesta" placeholder="Respuesta" required/>
                            <button type="submit">
                              <i class="fas fa-chevron-right"></i>
                            </button>
                        </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
      </div>

      </div>
      {% endif %}

      {% empty %}
        <p>Aún no tiene comentarios. Sé el primero.</p>
      {% endfor %}
    </div>



  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>





  <script>

    $(document).ready(function(){

      $('.form-respuesta').hide();

      $('.btn-responder').click(function(){
        var elemento = $(this).parent().children('div.form-respuesta');
        elemento.slideToggle('slow');

      });
    });
  </script>




</body>

</html>