@media (max-width: 575.9px) {
  .textoMenu{
    font-size: 1rem !important;
  }

  .menu a i {
    font-size: 1rem !important;
  }

  .buscador  {
    flex-direction: column;
    align-items: stretch;
  }
}


@media (min-width: 991.9px) {
  .textoMenu{
    display: none !important;
  }

  #texto-logo {
    display: none !important;
  }
}

.header{
  background-color: #fff;
  box-shadow: 0 .5px 2px 0 rgba(0,0,0,.3);
  margin-bottom: 10px;
}

.navbar-brand {
  display: flex;
}

#texto-logo {
  display: inherit;
  height: auto;
  font-size: 2rem !important;
  margin-left: .5rem;
  color: #721b65 !important;
}

.menu{
  margin-left: 5%;
}

.menu a {
  color: #721b65 !important;
}

#btn-notification {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #721b65 !important;
}

#btn-notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  color: #721b65;
}
.menu #notificacion .dropdown-menu {
  width: 300px;
}

.menu #notificacion .dropdown-menu a {
  color: #212529;
}

.menu #notificacion .dropdown-menu button {
  background-color: transparent;
  border: none;
}

.textoMenu{
  font-size: 2rem;
}

.btn-navbar {
  color: #721b65 !important;
  border: 1px solid #721b65;
  background-color: white !important;
  transition: all .5s;
}

.btn-navbar:hover{
  color: white !important;
  background-color: #721b65 !important;
  border: 1px solid white !important;
}






