@media (max-width: 991.9px){
  h2 {
    text-align: center;
  }

  .btn-sugerencia {
    top: 80px !important;
    right: 1rem !important;
    position: absolute !important;
  }

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
  }

  div .row {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.ingrediente, .paso {
  padding: 1rem;
  margin-top: .5rem;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#previa_imagen_terminada[src="#"]{
  height: 0px;
}

#previa_imagen_terminada {
  max-height: 500px;
}

.img-paso[src="#"]{
  height: 0px;
}

.img-paso {
  height: 300px;
}


.btn-remove {
  width: 25px;
  height: 25px;
  background: transparent;
  font-weight: bold;
  color: #b51f59;
  border: 1px solid #b51f59;
  transition: all 0.5s;
}

.btn-remove:hover {
  background: #b51f59;
  color: #fff;
}

.btn-sugerencia {
  border: none;
  border-radius: 100%;
  background-color: #b51f59;
  color: white;
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
