<div class="row justify-content-center">
    <div class="col-12 col-md-3 col-lg-2">
      
      <!-- IMAGEN AVATAR PERFIL -->
      <div class="row justify-content-center">
        <div class="col-4 col-md-12">
          <img src="{{comentario.usuario.perfil.imagen_perfil.url}}" class="img rounded-circle img-fluid" />
        </div>
      </div>
      
      <!-- FECHA COMENTARIO -->
      <div class="row">
        <p class="text-secondary text-center col-12">{{comentario.fecha_format}}</p>
      </div>
    </div>

    <!-- CUERPO COMENTARIO-->
    <div class="col-12 col-md-9 col-lg-10">
      
      <a class="username" href="{% url 'perfil' username=comentario.usuario.username %}">{{comentario.usuario}}</a>
      <p>{{comentario.texto}}</p>

      <!-- BOTÓN RESPONDER -->
      <button type="button" class="float-right btn-border-rounded btn-responder">
        <i class="fa fa-reply"></i> Responder
      </button>

      <!-- RESPUESTAS -->
      {% include 'partes/input-respuesta.html' %}
    </div>
  </div>