<div class="row">
    <!-- IMG -->
    <div class="col-3 col-md-2">
      <div class="image-fluid">
        <img src="../../media/{{usuario.perfil.imagen_perfil}}" class="img-fluid rounded-circle"/>
      </div>
    </div>

    <!-- NOMBRE Y DESCRIPCION -->
    <div class="col-6 col-md-7">
      <div class="row">
        <div class="col-12 nombre">
          {{usuario.get_full_name}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 nombre">
          <p class="user">{{usuario.username}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 descripcion">
          {% if not usuario.perfil.descripcion == None %}
          <p>{{usuario.perfil.descripcion}}</p>
          {% endif %}
        </div>
      </div>

    </div>

    <!-- BOTÓN SEGUIR -->
    <div class="col-2 ml-1 div-seguir">
      {% if user.get_username == usuario.username %}
      <a href="{% url 'editar_perfil' username=user.username %}"><button type="button" class="btn-seguir">Editar</button></a>
      {% elif user.perfil in usuario.perfil.seguidores.all %}
      <a href="{% url 'dejar_seguir' pk=usuario.pk %}"><button type="button" class="btn-seguir">Dejar de seguir</button></a>
      {% else %}
      <a href="{% url 'seguir' pk=usuario.pk %}"><button type="button" class="btn-seguir">Seguir</button></a>
      {% endif %}
    </div>
    
  </div>
