{% load filters %}
{% load static %}

<div class="row">
  <!-- IMG -->
  <div class="col-3 col-md-2">
    <div class="img-fluid">
      <img src="{{usuario.perfil.imagen_perfil.url}}" class="img-fluid rounded-circle" />
    </div>
  </div>

  <!-- NOMBRE Y DESCRIPCION -->
  <div class="col-6 col-md-7">
    <div class="row">
      <div class="col-12 nombre">
        {{usuario.get_full_name}}
      </div>
    </div>

    <div class="row">
      <div class="col-12 nombre">
        <p class="user">{{usuario.username}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 descripcion">
        <p>{{usuario.perfil.descripcion|is_none}}</p>
      </div>
    </div>

    <!-- REDES SOCIALES -->

    <div class="row mb-2 justify-content-center justify-content-md-start">



      {% if usuario.perfil.facebook|is_nothing %}
      <div class="col-3 col-md-2 col-lg-1">
        <a href="http://www.facebook.com/{{usuario.perfil.facebook}}">
          <img class="img-fluid" src="{% static 'img/facebook-icon.png' %}" alt="">
        </a>
      </div>
      {% endif %}




      {% if usuario.perfil.instagram|is_nothing %}
      <div class="col-3 col-md-2 col-lg-1">
        <a href="http://www.instagram.com/{{usuario.perfil.instagram}}">
          <img class="img-fluid" src="{% static 'img/instagram-icon.png' %}" alt="">
        </a>
      </div>
      {% endif %}




      {% if usuario.perfil.twitter|is_nothing %}
      <div class="col-3 col-md-2 col-lg-1">
        <a href="http://www.twitter.com/{{usuario.perfil.twitter}}">
          <img class="img-fluid" src="{% static 'img/twitter-icon.png' %}" alt="">
        </a>
      </div>
      {% endif %}



      {% if usuario.perfil.youtube|is_nothing %}
      <div class="col-3 col-md-2 col-lg-1">
        <a href="http://www.youtube.com/{{usuario.perfil.youtube}}">
          <img class="img-fluid" src="{% static 'img/youtube-icon.png' %}" alt="">
        </a>
      </div>
      {% endif %}

    </div>

  </div>

  <!-- BOTÓN SEGUIR -->
  <div class="col-2 ml-1 div-seguir">
    {% include 'partes/boton-seguir.html' %}
  </div>



</div>

<script>

  $(document).ready(function () {

    if ($(window).width() < 576) {
      // Obtiene la posición horizontal de la fila incluyendo el pa
      var posicion = $('.descripcion').parent().offset().left + 15;

      $('.descripcion').parent().css({
        "width": $(window).width(),
        "margin-left": -posicion,
        "padding-left": "1rem",
        "padding-right": "1rem",
        "margin-top": "1rem"
      });
    }
  });
</script>