
{% for usuario in lista_usuarios %} <!-- usuario es objeto perfil -->
<div class="row px-md-5 my-3 justify-content-md-center">

  <!-- IMAGEN AVATAR-->
    <div class="col-md-1 col-2 align-self-center">
      <img src="{{usuario.imagen_perfil.url}}" class="img-fluid rounded-circle">
    </div>

    <!-- NOMBRE DE USUARIO-->
    <div class="col-5 col-sm-7 col-md-5 align-self-center">
      <a href="{% url 'perfil' username=usuario.usuario.username %}"><h3>{{usuario.usuario.get_full_name}}</h3></a>
    </div>

    <!-- BOTÓN -->
    <div class="col-5 col-sm-3 text-right">

        {% if user.pk == usuario.pk %}
      <a href="{% url 'editar_perfil' username=user.username %}"><button type="button"
        class="btn-border-rounded">Editar</button></a>
    {% else %}
      <button type="button" class="btn-border-rounded seguir" data-user="{{usuario.pk}}" data-url="{% url 'seguir' pk=usuario.pk %}">
        {% if user.perfil in usuario.seguidores.all %}
          Dejar de seguir
        {% else %}
          Seguir
        {% endif %}
      </button>
    {% endif %}
    </div>

  </div>

  {% empty %}
    <div class="row justify-content-center">
      <div class="col-">
        <h4>{{mensaje_vacio}}</h4>
      </div>
    </div>

{% endfor %}
    
<!-- PAGINATOR -->

{% if lista_usuarios %}

<div class="row justify-content-center my-5 paginator">
  <span class="step-links">
    
    {% if lista_usuarios.has_previous %}
      <a href="?page={{ lista_usuarios.previous_page_number }}">
        <
      </a>
    {% endif %}

    <span class="current">
      Página {{lista_usuarios.number}}
    </span>

    {% if lista_usuarios.has_next %}
      <a href="?page={{ lista_usuarios.next_page_number }}">></a>
    {% endif %}

  </span>

</div>

{% endif %}