{% load filters %}
{% load static %}



<div id="lista-recetas" class="row my-3">
  {% for receta in recetas %}

    <div class="col-12 col-md-6 col-lg-3 my-2">
      {% include 'partes/card-receta.html' %}
    </div>
    {% if forloop.counter|divisibleby:4 %}
      </div>
      <div class="row my-3">
    {% endif %}
  {% endfor %}

</div>

<!-- PAGINATOR -->
{% if recetas.paginator.num_pages > 1 %}
<div class="row justify-content-center my-5 paginator">
  <span class="step-links">
    
    {% if recetas.has_previous %}
      <a href="?page={{ recetas.previous_page_number }}">
        <
      </a>
    {% endif %}

    <span class="current">
      Página {{recetas.number}}
    </span>

    {% if recetas.has_next %}
      <a href="?page={{ recetas.next_page_number }}">></a>
    {% endif %}

  </span>

</div>
{% endif %}




