<div class="row d-flex justify-content-between justify-content-md-center mx-md-2">

    <div class="col-4 col-sm-3">
      <a href="{% url 'perfil' username=usuario.username %}">
        <div class="row justify-content-center">
          <b>{{usuario.recetas.all.count}}</b>
        </div>
        <div class="row justify-content-center">
          RECETAS
        </div>
      </a>
    </div>
  
    <div class="col-4 col-sm-3">
      <a href="{% url 'seguidores' usuario.username %}">
        <div class="row justify-content-center">
          <b id="cantidad-seguidores">{{usuario.perfil.total_seguidores}}</b>
        </div>
        <div class="row justify-content-center">
          SEGUIDORES
        </div>
      </a>
    </div>
  
    <div class="col-4 col-sm-3">
      <a href="{% url 'siguiendo' usuario.username %}">
        <div class="row justify-content-center">
          <b>{{usuario.perfil.total_siguiendo}}</b>
        </div>
        <div class="row justify-content-center">
          SIGUIENDO
        </div>
      </a>
    </div>
  
  </div>
  