
  <div class="col-12 col-md-4 col-lg-3 mb-3">
    <div class="list-group">
      <a class="list-group-item" id="list-perfil" href="{% url 'editar_perfil' username=request.user.username %}">Editar perfil</a>
      <a class="list-group-item" id="list-pass" href="{% url 'editar_pass' username=request.user.username %}">Cambiar contraseña</a>
      <a class="list-group-item" id="list-rrss" href="{% url 'editar_rrss' %}">Redes sociales</a>
    </div>
  </div>

  <script>
    var opc = "{{opc}}"


  if (opc == "" || opc == "perfil") {
    $('#list-perfil').addClass('active');
  } else if (opc == "pass") {
    $('#list-pass').addClass('active');
  } else if (opc == "rrss") {
    $('#list-rrss').addClass('active');
  }
  </script>
