{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark header">
  
  <!-- LOGO -->
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
    <span id="texto-logo" class="align-self-center">CookBook</span>
  </a>

    <!-- BOTÓN DESPLEGABLE -->
    <button type="button" class="navbar-toggler btn btn-navbar" data-toggle="collapse" data-target="#navbarCollapse">
      <i class="fas fa-bars"></i>
    </button>

      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- MENÚ -->  
        <div class="navbar-nav menu">

              <a href="{% url 'nueva_receta' %}" class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Crear receta">
                <i class="fa fa-plus-circle" style="font-size: 2rem;"></i>
                <span class="textoMenu">Crear receta</span>
              </a>

              <a href="{% url 'busqueda_avanzada' %}" class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Búsqueda avanzada">
                <i class="fas fa-search"  style="font-size: 2rem;"></i>
                
                <span class="textoMenu">Búsqueda avanzada</span>
              </a>
              <div class="btn-group" id="notificacion">
                <button id="btn-notification" class="nav-item nav-link" type="button" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  data-url="{% url 'vaciar_notificaciones' %}" style="background-color: transparent; border: none;">
                  
                  <i class="fas fa-bell"  style="font-size: 2rem;"></i>
                  {% if notificaciones.count > 0 %}
                    <span class="badge">{{notificaciones.count}}</span>
                  {% endif %}
                  <span class="textoMenu">Notificaciones</span>
                
                </button>
                <div class="dropdown-menu" aria-labelledby="btn-notification">
                  
                  {% for notificacion in notificaciones|slice:":5" %}
                    <div class="row px-2 my-1">
                      <div class="col-3">
                        <img src="../../media/{{notificacion.usuario_origen.perfil.imagen_perfil}}" alt="" class="img-fluid rounded-circle">
                      </div>
                      <div class="col-9 align-self-center">
                        
                        {% if notificacion.tipo == "siguiendo" %}
                          {{notificacion.usuario_origen}} te ha seguido
                        {% else %}
                        
                          <a href="{% url 'receta' pk=notificacion.caso %}">
                            {% if notificacion.tipo == "comentario" %}
                              {{notificacion.usuario_origen}} ha comentado tu receta
                            {% elif notificacion.tipo == "respuesta" %}
                              {{notificacion.usuario_origen}} ha respondido tu comentario
                            {% elif notificacion.tipo == "respuesta" %}
                              {{notificacion.usuario_origen}} ha valorado tu receta
                            {% endif %}
                          </a>
                        {% endif %}
                        
                          
                      </div>
                    </div>
                  {% endfor %}

                  
                  {% if notificaciones.count > 5 or notificaciones.count == 0 %}
                    <div class="col-12 my-2 text-center">
                      <button>Ver todas</button>
                    </div>
                     
                  {% endif %}
                    
                    
                </div>
              </div>


              <a href="{% url 'perfil' username=user.username %}" class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Pefil">
                <i class="fa fa-user" style="font-size: 2rem;"></i>
                <span class="textoMenu">Perfil</span>
              </a>
              
              <a href="{% url 'logout' %}" class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Salir">
                <i class="fa fa-lock" style="font-size: 2rem;"></i>
                <span class="textoMenu">Cerrar sesión</span>
              </a>

          </div>

          <!-- BUSCADOR -->
          <form action="{% url 'busqueda' %}" method="get" class="form-inline ml-auto buscador">
              <input type="text" name="name" class="form-control mt-sm-2 mr-sm-2" placeholder="Buscar..." >
              <button type="submit" class="btn btn-navbar mt-1">Buscar</button>
          </form>
      </div>
  </nav>

